---
layout: view
wide: true
title: News
permalink: '/news/'
pagination:
  enabled: true
  collection: 'news'
  title: ':title'
  per_page: 6
  sort_field: 'date'
  sort_reverse: true
  permalink: '/:num/'
  extension: 'html'
  trail:
    before: 2
    after: 2
---

{% for article in paginator.posts %}
{% assign mod = forloop.index | modulo: 3 %}
{% if mod == 1 %}<div class="row pb-3 mb-3">{% endif %}

<div class="col-lg-4 col-md-12 card-group">

  <article class="card" onclick="window.location='{{ article.url }}'">
    <img class="card-img-top" src="https://via.placeholder.com/382x255" alt="Card image cap">
    <div class="card-body">
      <div class="eyebrow">{{ article.date | date: "%B %e, %Y" }}</div>
      <h2 class="card-title">{{ article.title }}</h2>
      <div class="card-text">{{ article.excerpt | markdownify }}</div>
      <!--<a href="{{ article.url }}" class="btn btn-primary">Go somewhere</a>-->
    </div>
  </article>

</div>

{% if mod == 0 or forloop.index == paginator.posts.size %}</div>{% endif %}
{% endfor %}

{% if paginator.page_trail %}
<nav>
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a href="{{ paginator.previous_page_path | remove: "index.html" }}" title="Previous" class="page-link">&laquo;</a>
    </li>
    {% endif %}
    {% for trail in paginator.page_trail %}
    <li class="page-item {% if page.url == trail.path %}active{% endif %}">
      <a href="{{ trail.path | remove: "index.html" }}" title="Page {{ trail.num }}" class="page-link">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% if paginator.next_page %}
    <li class="page-item">
      <a href="{{ paginator.next_page_path | remove: "index.html" }}" title="Next" class="page-link">&raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% else %}
<button class="btn btn-secondary">Load More News</button>
{% endif %}
