---
layout: default
wide: true
title: Team
permalink: '/team/'
---

{% assign sorted_team = site.team | sort:"order" %}
{% for member in sorted_team %}
{% assign mod = forloop.index | modulo: 2 %}

{% if mod == 1 %}<div class="row justify-content-around">{% endif %}

  <div class="col-5">
    <img src="{{ member.photo }}" width="150" height="150" alt="{{ member.name }} &ndash; {{ member.title }}" title="{{ member.name }} &ndash; {{ member.title }}" />
    <h2>{{ member.name }}</h2>
    <h3>{{ member.title }}</h3>
    <div class="bio">
    {{ member.content | markdownify }}
    </div>
  </div>

{% if mod == 0 or forloop.index == paginator.posts.size %}</div>{% endif %}
{% endfor %}
