---
layout: fixed
wide: true
title: Who We Are
meta:
  description: Learn about our team of trustworthy experts who get results that you can rely on.
permalink: '/team/'
---

{% assign sorted_team = site.team | sort:"order" %}
{% for member in sorted_team %}
{% assign mod = forloop.index | modulo: 2 %}

{% if mod == 1 %}<div class="row justify-content-around">{% endif %}

  <div class="col-md-6 col-lg-5">
    <img src="{{ member.photo }}" width="150" height="150" alt="{{ member.name }} &ndash; {{ member.title }}" title="{{ member.name }} &ndash; {{ member.title }}" class="img-thumbnail" />
    <h3 class="mt-3 mb-0"><strong>{{ member.name }}</strong></h3>
    <h4 class="mb-3">{{ member.title }}</h4>
    <div class="bio mb-5">
    {{ member.content | markdownify }}
    </div>
  </div>

{% if mod == 0 or forloop.index == paginator.posts.size %}</div>{% endif %}
{% endfor %}
