{% assign active_trail = page.url | remove_first: "/" | split: "/" | first %}

{% if page.show_contact != false %}
<div class="contact">
  <h2>Ready to get started?<wbr> <strong>Contact&nbsp;Us.</strong></h2>
  {% include widgets/contact-form.html %}
</div>
{% endif %}

<div class="details pt-5 pb-5">
  <div class="contact-info text-center">
    <div class="phone"><strong>Phone:</strong> <a href="tel:{{ site.contact_phone | replace: "-", "" | replace: ".", "" | replace: "(", "" | replace: ")", "" | replace: " ", "" }}">{{ site.contact_phone }}</a></div>
    <div class="address"><address>{{ site.contact_address }}<address></div>
  </div>

  <div class="text-center">
    <ul class="primary-navigation">
      <li class="{% if active_trail == "products" %}active{% endif %}">
        <a href="/products">Products</a>
      </li>
      <li class="{% if active_trail == "team" %}active{% endif %}">
        <a href="/team">Team</a>
      </li>
      <li class="{% if active_trail == "news" %}active{% endif %}">
        <a href="/news">News</a>
      </li>
      <li class="{% if active_trail == "contact" %}active{% endif %}">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>

  <div class="text-center">
  {% include social-links.html %}
  </div>

  <div class="copyright text-center">&copy; {{ site.time | date: '%Y' }} by eMerge Property Solutions.</div>
</div>
