<ul class="primary-navigation navbar-nav mr-auto">
  <li class="nav-item {% if page.url == "/products/" %}active{% endif %}">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="nav-item {% if page.url == "/team/" %}active{% endif %}">
    <a class="nav-link" href="/team">Team</a>
  </li>
  <li class="nav-item {% if page.url == "/news/" %}active{% endif %}">
    <a class="nav-link" href="/news">News</a>
  </li>
  <li class="nav-item {% if page.url == "/contact/" %}active{% endif %}">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
</ul>