{% assign active_trail = page.url | remove_first: "/" | split: "/" | first %}

<ul class="primary-navigation navbar-nav">
  <li class="nav-item {% if active_trail == "products" %}active{% endif %}">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="nav-item {% if active_trail == "team" %}active{% endif %}">
    <a class="nav-link" href="/team">Team</a>
  </li>
  <li class="nav-item {% if active_trail == "news" %}active{% endif %}">
    <a class="nav-link" href="/news">News</a>
  </li>
  <li class="nav-item {% if active_trail == "contact" %}active{% endif %}">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
</ul>