<ul class="secondary-navigation navbar-nav">
  <li class="nav-item d-none d-lg-block">
    <a class="nav-link" href="https://connect.clearvalueconsulting.com/Vendors/Profile/Create?Referrer=emerge" target="_blank" rel="nofollow">Join Our Network</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-primary" href="https://wavm.collateralanalytics.com/Login.aspx?ReturnUrl=%2fcavm_cs.aspx%3fpid%3dciv%26a%3dreset&pid=civ&a=reset" target="_blank" rel="nofollow">Analytics Login</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-primary" href="https://emerge-vendors.clearvalueconsulting.com" target="_blank" rel="nofollow">Login</a>
  </li>
</ul>
