.card {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  transition: box-shadow 1s ease-out;
  &:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .3);
  }
}
