.card-group {
  .card {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    transition: box-shadow .5s ease-out;
    margin-bottom: 2rem;
    &:hover {
      box-shadow: 0 5px 25px rgba(0, 0, 0, .3);
    }
    .card-body {
      padding: 27px 46px;
    }
    .card-title {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1.4rem;
      line-height: 1.9rem;
    }
  }
}