.card-group {
  .card {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    transition: box-shadow .5s ease-out;
    margin-bottom: 2rem;
    &:hover {
      box-shadow: 0 5px 25px rgba(0, 0, 0, .3);
    }
    .card-body {
      padding: 27px 46px;
    }
    .eyebrow {
      @extend .mb-2;
      display: inline-block;
      clear: both;
      background: $primary;
      color: #fff;
      font-size: .7rem;
      border-radius: 5px;
      padding: 7px 9px;
      margin-bottom: 1rem;
    }
    .card-title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1.4rem;
      line-height: 1.9rem;
    }
  }
}