body {
  font-family: 'Montserrat', sans-serif;
  color: $body-color;
  &:not(.layout-fluid) {
    .main-content {
      padding: 4rem 0;
    }
  }
  &.layout-news {
    .jumbotron {
      margin-bottom: -85px;
    }
    .main-content {
      padding: 0 0 4rem 0;
      article {
        padding: 2rem 3rem;
        background: $white;
      }
    }
  }
  a:link,
  a:visited {
    transition: color .25s ease-out;
  }
}

strong {
  font-weight: 500;
}

h1 {
  color: $black;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.6rem;
  &.display-4 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 234px;
  }
}

h2 {
  color: $black;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

h3 {
  color: $black;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  line-height: 2rem;
  strong {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

h4 {
  color: $body-color;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 2rem;
}

.btn {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-weight: 500;
  &.btn-lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.eyebrow {
  @extend .mb-3;
  display: inline-block;
  clear: both;
  background: $primary;
  color: $white;
  font-size: .7rem;
  border-radius: 5px;
  padding: .5rem .8rem;
}

blockquote {
  @extend .mt-5;
  @extend .mb-5;
  font-weight: 700;
  color: #000;
  font-size: 1.4rem;
  text-align: center;
  & *:first-child:before {
    content: '“';
    display: inline;
  }
  & *:last-child:after {
    content: '”';
    display: inline;
  }
}

.band {
  position: relative;
  top: 0;
  left: 0;
  .next-arrow {
    color: $black;
    text-align: center;
    position: absolute;
    bottom: -1rem;
    left: 0;
    display: block;
    right: 0;
    z-index: 9;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    .fas {
      display: block;
      font-size: 2rem;
      margin-top: 10px;
    }
  }
}