header {
  &.jumbotron {
    background-color: #333;
    color: $white;
    text-shadow: 0 3px 7px rgba(0,0,0,.3);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 385px;
    h1 {
      color: $white;
      &.display-4 {
        line-height: 234px;
        margin: 0;
      }
    }
  }
  &.jumbotron-default {
    background-image: linear-gradient(to bottom, #5faf71 0%, lighten(#5faf71, 15%) 100%);
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 234px;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($primary, 1);
      background-image: url(/img/header/header-dallas-tx-skyline.jpg);
      background-size: cover;
      background-position: center -280px;
      background-blend-mode: overlay;
      background-attachment: scroll;
      opacity: .3;
    }
    & > * {
      position: relative;
      z-index: 99;
    }
  }
}