---
layout: compress
---

{% assign page_class = page.url | remove_first: "/" | remove_last: "/" | replace: ".html", "" | split: "/" | join: "--" %}

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="page-{{ page_class }} layout-{{ page.layout }} {% if page.show_contact != false %}show-contact{% endif %}">

{% include header.html %}

<header class="jumbotron jumbotron-fluid {% if page.header_image == null %}jumbotron-default{% endif %}"></header>

<div class="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <article>
          <div class="eyebrow">{{ page.date | date: "%B %e, %Y" }}</div>
          <h2>{{ page.title }}</h2>
          <div class="content">
          {{ content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include footer.html %}
      </div>
    </div>
  </div>
</footer>


</body>
</html>
